
<nav class="navbar navbar-inverse sidebar" role="navigation">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header brand-ico">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" style="margin: 11%">
                <img src="res/logo2_opt.png" class="img-responsive">
            </div>
            <div>
                <h6 style="color: white">Usuario: {{userLogged}}</h6>
                <a ng-click="logout()" >Salir <i class="glyphicon glyphicon-log-out"></i></a>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref=".home">Inicio<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Fincas <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-grain"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <!--<li><a href="#/subir">Subir Finca</a></li>
                        <li><a href="#/dividir">Dividir Finca</a></li>
                        <li><a href="#/unir">Unir Finca</a></li>-->
                        <li><a ui-sref=".historicos" >Historicos</a></li>
                        <li><a ui-sref=".mostrar" >Mostrar</a></li>
                        <li><a ui-sref=".dusTabs" >Admin Fincas</a></li>
                        <li><a ui-sref=".validar">Validar Apartos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formularios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list-alt"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a ui-sref=".formularioGanaderia" >Crear</a></li>
                        <li><a ui-sref=".formCrud">Consultar</a></li>
                        <li><a ui-sref=".formularioAgricultura">CRUD Preguntas</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div ui-view="dashboard">

</div>


