
    <div class="container">
        <div style=" position: absolute; right: 25%; z-index: 10; width: 40%;"  uib-alert ng-repeat="alert in alertsForm" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="4000">{{alert.msg}}</div>
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Formularios </h4>
                        <div class="input-group">
                            <input id="Special" type="text" class="form-control" ng-model="searchBox" placeholder="Search...">
                            <div class="input-group-btn">
                                <button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li ng-repeat="data in formularios | filter: searchBox" class="list-group-item">
                                {{data.nombre}}
                                <span class="pull-right">
                                    <button class="btn btn-primary clear btn-xs" ng-disabled="data.editable" href="#/formCrud/crud" ng-click = 'change(data.idform)'><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button class="btn btn-danger clear btn-xs"ng-disabled="data.editable" ng-click="deleteForm(data.idform)" class="trash"><span class="glyphicon glyphicon-trash"></span></button>
                                </span>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
