
<div ng-repeat="data in list.people"
     ng-show="data.orden == seccionActiva">

    <div>

        <!--For Text Inputs-->
        <div ng-repeat="person in data.preguntas"
             class="background-{{person.type}}"
             ng-show="person.hel == 'text'"
        >

                <div class="row">
                    <div class="name col-md-10 form-group">
                        <label>{{ person.enunciadopreg}}</label>
                        <input type="person.hel" class="form-control" name="{{person.idpreg}}" ng-model="person.answer" ng-required="{{person.requerido}}">
                    </div>
                </div>

        </div>

        <!--For Checkbox Inputs-->
        <div ng-repeat="person in  data.preguntas"
             class="background-{{person.type}}"
             ng-show="person.hel == 'checkbox'"
        >
            <div class="name">
                <label>{{person.enunciadopreg}}</label>
                <div class="row">
                    <div class="name col-md-10">
                        <div class="checkbox">
                            <div ng-repeat="chk1 in person.options">
                                <input type="{{person.hel}}" ng-click = "toggle(chk1,person.answer)" ng-required="{{person.requerido}}">{{chk1.opcion}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--For Radio Inputs-->
        <div ng-repeat="person in  data.preguntas"
             class="background-{{person.type}}"
             ng-show="person.hel == 'radio'"
        >
            <div class="name">
                <label>{{person.enunciadopreg}}</label>
                <div class="row">
                    <div class="name col-md-10">
                        <div class="radio">
                            <div ng-repeat="rad in person.options">
                                <input type="{{person.hel}}"  name="{{person.idpreg}}" ng-model="person.answer" ng-required="{{person.requerido}}" value="{{rad.opcion}}">{{rad.opcion}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--For Combobox o Dropdown o select-->
        <div ng-repeat="person in  data.preguntas"
             class="background-{{person.type}}"
             ng-show="person.hel == 'select'"
        >

                <div class="row">
                    <div class="name col-md-10 form-group">
                        <label>{{person.enunciadopreg}}</label>
                        <div>

                            <select ng-options="options.opcion as options.opcion for options in person.options" ng-model="person.answer" name="{{person.idpreg}}" ng-required="{{person.requerido}}" class="form-control">
                                <option style="display:none" value="">Seleccione</option>
                            </select>
                        </div>
                    </div>
                </div>

        </div>

        <!--For Text TextArea-->
        <div ng-repeat="person in  data.preguntas"
             class="background-{{person.type}}"
             ng-show="person.hel == 'textarea'"
        >

                <div class="name">
                    <label>{{ person.enunciadopreg}}</label>
                    <textarea ng-model="person.answer" name="{{person.idpreg}}" ng-required="{{person.requerido}}" rows="4" cols="50" class="form-control input-sm">
                                    Texto...
                </textarea>
                </div>


        </div>
    </div>
</div>

<ul class="pagination">
    <li><a href="" ng-click="pagination.prevPage(); change(n+1);">&laquo;</a></li>
    <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
        <a href="" ng-click="pagination.toPageId(n); change(n+1);">{{n + 1}}</a>
    </li>
    <li><a href="" ng-click="pagination.nextPage(); change(n+1);">&raquo;</a></li>


</ul>