
<div ng-repeat="data in list.people"
     ng-if="data.orden == seccionActiva">

    <div>
        <!--For Text Inputs-->
        <div ng-repeat="person in data.preguntas"
             class="background-{{person.type}}"
             ng-if="person.hel == 'text'"
        >
            <div class="row">
                <div class="name col-md-10 form-group">
                    <label>{{person.enunciadopreg}}</label>
                    <input  placeholder="{{person.name}}" type="text" class="background-{{person.type}} form-control input-sm" ng-required="{{person.requerido}}">
                </div>
            </div>
        </div>

        <!--For Checkbox Inputs-->
        <div ng-repeat="person in  data.preguntas"
             class="background-{{person.type}}"
             ng-if="person.hel == 'checkbox'"
        >
            <div class="name">
                <label>{{person.enunciadopreg}}</label>
                <div class="row">
                    <div class="name col-md-10">
                        <div class="checkbox">
                            <div ng-repeat="chk1 in person.options">
                                <label><input  name="{{person.name}}" type="{{person.hel}}"  ng-required="{{person.requerido}}">{{chk1.opcion}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--For Radio Inputs-->
        <div ng-repeat="person in  data.preguntas"
             class="background-{{person.type}}"
             ng-if="person.hel == 'radio'"
        >
            <div class="name">
                <label>{{person.enunciadopreg}}</label>
                <div class="row">
                    <div class="name col-md-10">
                        <div class="radio">
                            <div ng-repeat="rad in person.options">
                                <label><input  name="{{person.name}}" type="{{person.hel}}" ng-required="{{person.requerido}}">{{rad.opcion}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--For Text Inputs-->
        <div ng-repeat="person in  data.preguntas"
             class="background-{{person.type}}"
             ng-if="person.hel == 'plain'"
        >
            <div class="name">
                <p model="person.name">{{person.name}}</p>
            </div>
        </div>


        <!--For Combobox o Dropdown o select-->
        <div ng-repeat="person in  data.preguntas"
             class="background-{{person.type}}"
             ng-if="person.hel == 'select'"
        >
            <div class="name">
                <div class="row">
                    <div class="name col-md-10 form-group">
                        <label>{{person.enunciadopreg}}</label>
                        <div>
                            <select ng-options="options.opcion as options.opcion for options in person.options" ng-required="{{person.requerido}}" class="form-control input-sm">
                                <option style="display:none" value="">Seleccione</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--For Text TextArea-->
        <div ng-repeat="person in  data.preguntas"
             class="background-{{person.type}}"
             ng-if="person.hel == 'textarea'"
        >
            <div class="name">
                <div class="row">
                    <div class="name col-md-10 form-group" >
                        <label>{{person.enunciadopreg}}</label>
                        <div>

                                <textarea ng-required="{{person.requerido}}" rows="4" cols="50" class="form-control input-sm">
                                    Texto...
                                </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="pagination">
    <li><a href="" ng-click="pagination.prevPage(); change(n+1);">&laquo;</a></li>
    <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
        <a href="" ng-click="pagination.toPageId(n); change(n+1);">{{n + 1}}</a>
    </li>
    <li><a href="" ng-click="pagination.nextPage(); change(n+1);">&raquo;</a></li>


</ul>