<div ng-repeat="data in list.people"
    ng-if="data.orden == seccionActiva">


<ul dnd-list="data.preguntas">


    <!--For Text Inputs-->
    <li ng-repeat="person in data.preguntas"
        dnd-draggable="person"
        dnd-type="person.type"
        dnd-disable-if="person.type == 'unknown'"
        dnd-moved="list.people.splice($index, 1)"
        dnd-effect-allowed="move"
        class="background-{{person.type}}"
        ng-if="person.hel == 'text'"
    >

        <dnd-nodrag>
            <div dnd-handle class="handle">:::</div>
            <div class="row">
                <div class="name col-md-10">
                    <input  placeholder="{{person.name}}" type="text"  class="background-{{person.type}} form-control input-sm">

                </div>
                <div class="name col-md-1">

                    <button class="btn-eiminar" type="button" class="btn btn-default">
                        <span class="glyphicon  glyphicon-trash icon-eliminar"></span>
                    </button>


                </div>
            </div>
        </dnd-nodrag>
    </li>

    <!--For Checkbox Inputs-->
    <li ng-repeat="person in list.people[0].preguntas"
        dnd-draggable="person"
        dnd-type="person.type"
        dnd-disable-if="person.hel == 'text'"
        dnd-moved="list.people.splice($index, 1)"
        dnd-effect-allowed="move"
        class="background-{{person.type}}"
        ng-if="person.hel == 'checkbox'"
    >
        <dnd-nodrag>
            <div dnd-handle class="handle">:::</div>
            <div class="name">
                <dnd-nodrag>
                    <p>{{person.name}}</p>
                    <div ng-repeat="chk1 in person.options">
                        <input  name="{{person.name}}" type="{{person.hel}}"  form-control input-sm>{{chk1.opcion}}
                    </div>

                </dnd-nodrag>
            </div>
        </dnd-nodrag>
    </li>

    <!--For Radio Inputs-->
    <li ng-repeat="person in list.people[0].preguntas"
        dnd-draggable="person"
        dnd-type="person.type"
        dnd-disable-if="person.hel == 'text'"
        dnd-moved="list.people.splice($index, 1)"
        dnd-effect-allowed="move"
        class="background-{{person.type}}"
        ng-if="person.hel == 'radio'"
    >
        <dnd-nodrag>
            <div dnd-handle class="handle">:::</div>
            <div class="name">
                <dnd-nodrag>
                    <p>{{person.name}}</p>
                    <div ng-repeat="rad in person.options">
                        <input  name="{{person.name}}"type="{{person.hel}}"  form-control input-sm>{{rad.opcion}}
                    </div>
                </dnd-nodrag>
            </div>
        </dnd-nodrag>
    </li>

    <!--For Text Inputs-->
    <li ng-repeat="person in list.people[0].preguntas"
        dnd-draggable="person"
        dnd-type="person.type"
        dnd-disable-if="person.type == 'unknown'"
        dnd-moved="list.people.splice($index, 1)"
        dnd-effect-allowed="move"
        class="background-{{person.type}}"
        ng-if="person.hel == 'plain'"
    >
        <dnd-nodrag>
            <div dnd-handle class="handle">:::</div>
            <div class="name">
                <dnd-nodrag>
                    <p model="person.name">{{person.name}}</p>
                </dnd-nodrag>
            </div>
        </dnd-nodrag>
    </li>



    <li class="dndPlaceholder">
        Drop any <strong>{{list.allowedTypes.join(' or ')}}</strong> here
    </li>




</ul>
</div>
<ul class="pagination">
    <li><a href="" ng-click="pagination.prevPage(); change(n);">&laquo;</a></li>
    <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
        <a href="" ng-click="pagination.toPageId(n); change(n);">{{n + 1}}</a>
    </li>
    <li><a href="" ng-click="addPage()">&plus;</a></li>
    <li><a href="" ng-click="pagination.nextPage(); change(n);">&raquo;</a></li>


</ul>
