<div>
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a ui-sref=".dividirUser"><span class="glyphicon glyphicon-menu-hamburger"></span> <strong>Dividir</strong></a></li>
        <li><a ui-sref=".unirUser"><span class="glyphicon glyphicon-link"></span> <strong>Unir</strong></a></li>
        <li><a ui-sref=".subirUser"><span class="glyphicon glyphicon-arrow-up"></span> <strong>Subir</strong></a></li>
        <li><a ui-sref=".agregarUser"><span class="glyphicon glyphicon-plus"></span> <strong>Agregar</strong></a></li>
        <div ui-view = "dusTabsUser"> </div>
    </ul>



</div>
