<h3>Historicos de Fincas</h3>

<div class="row">
    <div class="col-md-5">
        <select ng-change="change()" ng-options="finca.gid as finca.gid for finca in fincas" ng-model="gidFinca" class="form-control selectsTabs">
            <option style="display:none" value="">Seleccione una Finca</option>
        </select>

        <svg
             width="500"
             height="500"
             style="border:2px groove #0455BF">

            <polygon
                     ng-click="unir(coordenadas.gid, coordenadas.puntos)"
                     ng-repeat="coordenadas in json"
                     ng-attr-points="{{coordenadas.puntos}}"
                     style="fill:#26C281;stroke:black;stroke-width:1" />

        </svg>
        <h4 ng-if="numHistoricoActual">Historico #{{numHistoricoActual}}</h4>

        <h4 ng-if="apartoGid">El id del Aparto a Mostrar: {{apartoGid}}</h4>
        <br>
        <button class="btn btn-default" ng-click="AnteriorFinca()">
            <span class="glyphicon glyphicon-chevron-left"></span> Anterior Finca
        </button>
        <button class="btn btn-default" ng-click="siguienteFinca()">
            <span class="glyphicon glyphicon-chevron-right"></span> Siguiente Finca
        </button>

    </div> <!--div seleccion finca-->
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <br><br>


        <svg
             width="500"
             height="500"
             style="border:2px groove #0455BF">

            <polygon
                     ng-click="unir(coordenadas.gid, coordenadas.puntos)"
                     ng-repeat="coordenadas in jsonSeleccionado"
                     ng-attr-points="{{coordenadas.puntos}}"
                     style="fill:#0455BF;stroke:black;stroke-width:1" />

        </svg>
        <br>
        <button class="btn btn-default" ng-click="AnteriorAparto()">
            <span class="glyphicon glyphicon-chevron-left"></span> Anterior Aparto
        </button>
        <button class="btn btn-default" ng-click="siguienteAparto()">
            <span class="glyphicon glyphicon-chevron-right"></span> Siguiente Aparto
        </button>
    </div>
</div>