<div class="row" style="overflow-x: hidden;" >
    <div class="col-md-5">

        <div class="row"  style="margin-top: 1%">
            <div class="col-md-11">
                <select   ng-change="change();"style="padding-left:0%" ng-model="gidFinca" class="form-control selectsTabs">
                    <!--<option value="" >Seleccione un Formulario</option>-->
                    <option ng-repeat="finca in fincas" value="{{finca.gid}}">{{finca.nombrefinca}}(Código:{{finca.codigofinca}})</option>
                </select>
            </div>

        </div>

        <div class="row" style="margin-top: 2%">
            <div class="col-md-11">
                <svg
                     width="450"
                     height="450"
                     style="border:2px groove #0455BF">

                    <polygon
                             ng-click="unir(coordenadas.gid, coordenadas.puntos)"
                             ng-repeat="coordenadas in json"
                             ng-attr-points="{{coordenadas.puntos}}"
                             style="fill:#26C281;stroke:black;stroke-width:1" />

                </svg>
            </div>

        </div>
        <div class="row">
            <div class="col-md-5">
                <p ng-if="numHistoricoActual">Historico #{{numHistoricoActual}}</p>
                <br>
            </div>
            <div class="col-md-7">
                <button class="btn btn-default" ng-click="AnteriorFinca()">
                    <span class="glyphicon glyphicon-chevron-left"></span>Anterior
                </button>
                <button class="btn btn-default" ng-click="siguienteFinca()">
                    <span class="glyphicon glyphicon-chevron-right"></span>Siguente
                </button>
            </div>

        </div>


    </div> <!--div seleccion finca-->


    <div class="col-md-6">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Información general</a></li>
            <li  ng-if="apartoAtual"><a data-toggle="tab" href="#menu1">Formularios de apartos</a></li>
        </ul>

        <div class="tab-content" style="margin-top: 2%">
            <div id="home" class="tab-pane fade in active">
                <div class="col-md-8" ng-if="gidFinca">
                    <div class="row">
                        <svg
                                width="450"
                                height="450"
                                style="border:2px groove #0455BF">

                            <polygon
                                    ng-click="unir(coordenadas.gid, coordenadas.puntos)"
                                    ng-repeat="coordenadas in jsonSeleccionado"
                                    ng-attr-points="{{coordenadas.puntos}}"
                                    style="fill:#0455BF;stroke:black;stroke-width:1" />

                        </svg>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <p ng-if="apartoGid">Aparto: {{apartoGid}}</p>
                        </div>
                        <div class="col-md-7">
                            <button class="btn btn-default" ng-click="AnteriorAparto()">
                                <span class="glyphicon glyphicon-chevron-left"></span> Anterior
                            </button>
                            <button class="btn btn-default" ng-click="siguienteAparto()">
                                <span class="glyphicon glyphicon-chevron-right"></span> Siguiente
                            </button>
                        </div>

                    </div>
                 </div>
            </div>
            <div id="menu1" class="tab-pane fade">
            <div class="col-md-10" >
                <div class="panel panel-info">
                    <div class="panel-heading clearfix" >
                        <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Formularios del aparto</h3>
                    </div>
                    <div class="panel-body" style="max-height: {{heightpanel}}px;">
                        <div class="row" style="padding-left:3%" >
                            <div class="col-md-10" ng-if="formulariosApartoActual.length == 0">
                                -- No hay formularios --
                            </div>

                            <div ng-if="formulariosApartoActual.length > 0" style="overflow-y:auto; max-height: {{heightListaPreg}}px; ">
                                <table class="table table-condensed" >
                                    <tr >
                                        <!--<th>Id</th>-->
                                        <th>Nombre</th>
                                        <th>Ver respuestas</th>
                                        <th></th>
                                        <th></th>
                                        <!--<th>Descripción</th>-->
                                        <!-- <th>Fecha</th>-->
                                    </tr>

                                    <tr ng-repeat="form in formulariosApartoActual">
                                        <!--<td>{{form.idform}}</td>-->
                                        <td style="width: 40%">{{form.nombreform}}</td>
                                        <!--<td>{{form.descripcion}}</td>-->
                                        <!--<td>{{form.fecha}}</td>-->
                                        <td style="width: 40%">
                                            <select style="padding-left:0%;" ng-model="$parent.respActualAparto" ng-change="formActualFuncAparto($parent.respActualAparto)" class="form-control selectsTabs">
                                                <!--<option value="" >Seleccione un Formulario</option>-->
                                                <option ng-repeat="respuesta in form.respuestas" value="{{respuesta}}">{{respuesta.fecha_hora| date:"dd/MM//yyyy  h:mma"}}</option>
                                            </select>

                                        </td>

                                        <td style="width:1%" >
                                            <a type="button" class="btn-eiminarOpcion"   ng-click = "mostrarRespuestasFormAparto()">
                                                <span class="glyphicon glyphicon-eye-open "></span>
                                            </a>
                                        </td>

                                        <td>
                                            <!-- <button type="button" class="btn-eiminarOpcion" ng-click="eliminarPregForm(opcion)">-->
                                            <span style="color: darkgray" title="ID:{{form.idform}}&#13; Descripción:{{form.descripcion}}&#13; Fecha:{{form.fecha}}  " class="glyphicon  glyphicon-info-sign icon-eiminarOpcion"></span>
                                            <!-- </button>-->

                                        </td>
                                        <!-- After seven iterations a new `<tr>` should be aded -->
                                        </td>
                                    </tr>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>

        </div>

    </div>

</div>
