<div class="container">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a ui-sref=".dividir"><span class="glyphicon glyphicon-menu-hamburger"></span> <strong>Dividir</strong></a></li>
        <li><a ui-sref=".unir"><span class="glyphicon glyphicon-plus"></span> <strong>Unir</strong></a></li>
        <li><a ui-sref=".subir"><span class="glyphicon glyphicon-arrow-up"></span> <strong>Subir</strong></a></li>
    </ul>
    <div class="">
        <div ui-view></div>
    </div>
</div>
